<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--<link href="css/style.css" rel="stylesheet">-->
</head>

<body>
	<h1> CREATE A GAB </h1>

	<form class="creategab" action="/gab" method="post">
		<input type="textarea" name="gab" placeholder="post your gab!">
		<input type="submit" value="post gab">
	</form>
</body>

</html>

<!--/// ----- TAKE OUT TO SYNC GITHUB-->