<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
	{{#userListing}}
	<h1>Welcome to Gabble!</h1>
	<span> <a href="/">Home</a> <strong>|</strong> Logged in as {{userListing.displayName}} <strong>|</strong> <a href="/gab">Post a Gab</a> <strong>|</strong> <a href="/profile/{{userListing.userId}}">Your Profile</a> <strong>|</strong> <a href="/logout">Log out</a>  
	{{/userListing}}	
	<h1>Get your gabs:</h1>
	<div class="GabContainer">
		{{#messages}}
		<p><strong>{{content}}</strong></p> 
		<p>{{author.displayname}}, at {{createdAt}}</p>
		<span><a href="/likedby/{{id}}">{{likes.length}} likes so far</a> | <a href="/like/{{id}}">like this post</a></span>
	<!--		
		<a href="/like/{{id}}">like this post</a>
		<p>{{likes.length}} likes</p>-->
	{{/messages}}
	</div>
</body>

</html>