<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
	{{#userListing}}
	<div class="singleGabContainer">
		<h1>Welcome to Gabble!</h1>
		<span> <a href="/">Home</a> | Logged in as {{userListing.displayName}} | <a href="/gab">Post a Gab</a> | <a href="/logout">Log out</a>  
		{{/userListing}}
		<h1>Get your gabs:</h1>
		{{#messages}}
		<p><strong>{{content}}</strong></p> 
		<p>{{author.displayname}}, at {{createdAt}}</p>
		<a href="/like/{{id}}">like</a>
		<!--{{/messages}}
		{{#likedPosts}}
		<p>{{likes}}</p>
		{{/likedPosts}}-->
		
	</div>
</body>

</html>