<!DOCTYPE html>
<html lang="en">

<head>
	<title>Gabble | Likes</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</head>

<body>
	{{#userListing}}
	<h1 class="headline">Gabble Likes</h1>
	<p>Logged in as: {{userListing.displayName}}</p>
	<span> <a href="/">Home</a> <strong>|</strong> <a href="/gab">Post a Gab</a> <strong>|</strong> <a href="/profile/{{userListing.userId}}">Your Profile</a> <strong>|</strong> <a href="/logout">Log out</a>  
	{{/userListing}}	

	{{#like}}
	<p>"{{content}}"<p>
	<p>Liked by:</p>
	{{/like}}

	{{#like.likes}}
		{{#authorId}}
			<p class="nameOfLikers">{{displayname}}</p>
		{{/authorId}}
	{{/like.likes}}
</body>

</html>