<!DOCTYPE html>
<html lang="en">

<head>
	<title>Gabble | Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</head>

<body>
	<h1 class="headline">Gabble</h1>
	<h1>Login:</h1>
	<form action="/login" method="post">
		<input type="text" name="username" placeholder="User Name">
		<input type="password" name="password" placeholder="password">
		<input type="submit">
	</form>
	<h3 class="postAuthor">Not a user yet? <a href="./signup/">Sign up!</a></h3>
</body>

</html>