<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
	<h1>Hello world, this is the beginnings of GABBLE</h1>

	<a href="/logout">Log out</a>
</body>

</html>